@model ActivityManagement.ViewModels.CourseUsersViewModel
@{
    ViewBag.Title = "AddTrainees";
}

<h2>Add a new Trainees</h2>


@using (Html.BeginForm("AddTrainees", "Courses", FormMethod.Post))
{
    <div class="form-group">
        Username:
        @Html.HiddenFor(m => m.CourseId)
        @Html.DropDownListFor(m => m.UserId,
            new SelectList(Model.Users, "Id", "Username"),
            new { @class = "form-control" })
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit </button>
    </div>
}