@model IEnumerable<ActivityManagement.Models.ApplicationUser>
@{
    ViewBag.Title = "Members";
}

<h2>Members in Course</h2>

<div class="row">
    <div class="col-md-4">
        <ul class="list-group">
            <li class="list-group-item active">
                Members in Course
                <span class="badge">@Model.Count()</span>
            </li>
            @foreach (var user in Model)
            {
                <li class="list-group-item">
                    @user.Email
                    <div>
                        <span>
                            @Html.ActionLink(
                                                 "Remove",
                                                 "RemoveMember",
                                                 "Courses",
                                                 new { id = ViewBag.CourseId, userId = user.Id },
                                                 new { @class = "text-danger text-right" }
                            )

                        </span>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
