@model ActivityManagement.Models.UserInfo
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="panel panel-info">
    <div class="panel-heading">Name: @Model.FullName </div>
    <div class="panel-body">
        <p>Age: @Model.Age</p>
        <!--<p>TOEIC: @Model.TOEICScore</p> -->
        <!--<p>Programming Language: @Model.ProgrammingLanguage</p> -->
    </div>
</div>