
@{
    ViewBag.Title = "Index";
}

<h2>Welcome Admin</h2>

@if (User.IsInRole("admin"))
{
    @Html.ActionLink(
         "Create a new Staff",
         "CreateStaff",
         "Account",
         null,
         new { @class = "btn btn-primary" }
         )
    @Html.ActionLink(
             "Manage staffs",
             "ShowStaffs",
             "Staffs",
             null,
             new { @class = "btn btn-success" }
             )
}