@model ActivityManagement.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2>@ViewBag.Title.</h2>

<p1>Sorry but you cannot create a new account here!</p1>
<br>
<p1>If you do not have an account, please contact us via Email: quannlhgcd191357@fpt.edu.vn</p1>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
